dist
*classes
target/
build/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
.gradle
.vagrant
Vagrantfile.local
/logs

gradle/wrapper/*

results
tests/results
.cache

docs/generated/
/libs_ext/
/libs/
/out/